.blog {
  background: #f06543;
  color: #313638;
  font-family: Britannic;
  margin: 20px;
  width: 1000px;
  padding: 20px;   
}
.post {
  background: #e0dfd5;
  padding: 20px;
  border-width: 3px;
  transition: 0.4s
}

.post:hover {
  cursor: move;
  background: #f09d51;
  border-radius: 70px 8px 70px;
  border-style: solid;
}
.post-e {
  background: #e0dfd5;
  padding-left: 20px;
  width: 960px;
  padding: 20px;
  margin: 10px -1px;
  border-width: 3px;
  transition: 0.4s;
  border-style: none;
    
}
.post-e:hover {
  background: #f09d51;
  transition: 0.4s;
  border-radius: 70px 8px 70px;
  border-style: solid;
  cursor: move;
    
}

html {
  scroll-behavior: smooth;
}

.power-cut {
  background: #313638;
  color: #E0DFD5;
  padding: 20px;
  margin: 20px;
  padding-left: 50px
}

.container {
  display: flex;
  justify-content: space-evenly;
}

.boxj {
  border-color: #898b87;
  border-width: 3px;
  border-style: solid;
  border-radius: 20px;
  padding: 10px;
  flex: 0.9;
  
}

.bok {
  padding: 10px;
  margin: 0px 0px 0px 30px;
  gap: 40px;
  border-style: solid;
  border-radius: 20px;
  border-width; 4px;
  border-color: #898b87;
  height: 400px;
  flex: 1;
  
}

.eee {
  font-size: 40px;
  border-style: dotted;
  border-radius: 40px;
  padding-left: 27px
}
.eee:hover {
  background: red;
}